<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="18.1.0" targetFramework="net461" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net461" />
  <package id="SevenZipSharp.Interop" version="19.0.0" targetFramework="net461" />
</packages>